.container {
  height: 100%;
  position: relative;
  width: 100%;
  top: 90px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.c-white {
  color: white;
}

.b-white{
  background:white;
}

.b-grey{
  background: #eaeaea;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.pr-20{
  padding-right: 20px;
}

.pl-20{
  padding-left: 20px;
}

.pb-20{
  padding-bottom: 20px;
}

.mr-10{
  margin-right: 10px;
}

.bold {
  font-weight: 900;
}

.border-right{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.border-left{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.currency-container{
  width: 100%;
  max-width: 300px;
  padding: 25px 30px;
  margin-bottom: 10px;
}

.error-label{
  color: white;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  background: #e16866;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
  box-shadow: 0 8px 12px rgb(0 0 0 / 21%);
  position: absolute;
  left: 0;
  right: 0;
}

@media(max-width: 550px){
  .container > div{
    flex-direction: column;
  }

  .border-right, .border-left{
    border-radius: 10px;
  }
}